# --- Compilación y Binarios ---
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo
build/
bin/
obj/

# --- CMake ---
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake-build-*/
cmake_install.cmake
Makefile
install_manifest.txt

# --- Yocto - todos los build directories ---
src/os/yocto/build-*/tmp/
src/os/yocto/build-*/cache/
src/os/yocto/build-*/downloads/
src/os/yocto/build-*/sstate-cache/
src/os/yocto/build-*/buildhistory/
src/os/yocto/build-*/pseudo/
src/os/yocto/build-*/bitbake-cookerdaemon.log
src/os/yocto/build-*/conf/conf-notes.txt
src/os/yocto/build-*/conf/conf-summary.txt
src/os/yocto/build-*/conf/templateconf.cfg

# --- Yocto - sstate-cache y SDK compartidos ---
src/os/yocto/sstate-cache/
src/os/yocto/sdk/

# --- Yocto - internals ---
*.pyc
__pycache__/
*.lock

# --- Archivos del Sistema y Editores ---
.vscode/
.idea/
*.swp
*~
.DS_Store

# --- Archivos de test personal para verificar funcionalidad ---
src/int/test/
