# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Yocto build artifacts 
src/os/yocto/build-rpi/tmp/
src/os/yocto/build-rpi/cache/
src/os/yocto/build-rpi/downloads/
src/os/yocto/build-rpi/sstate-cache/
src/os/yocto/build-rpi/buildhistory/
src/os/yocto/build-rpi/pseudo/

# Yocto internals 
*.pyc
__pycache__/
*.lock

# CMake 
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake-build-*/
cmake_install.cmake
Makefile
install_manifest.txt

# SDK generado 
src/os/yocto/sdk/

src/os/yocto/build-rpi/bitbake-cookerdaemon.log
src/os/yocto/build-rpi/conf/conf-notes.txt
src/os/yocto/build-rpi/conf/conf-summary.txt
src/os/yocto/build-rpi/conf/templateconf.cfg
# --- Compilación y Binarios ---
# Ignora todas las carpetas build en cualquier subdirectorio
build/
bin/
obj/

# --- Archivos del Sistema y Editores ---
.vscode/
.idea/
*.swp
*~
.DS_Store

# --- Archivos de test personal para verificar funcionalidad ---
src/int/test/